# -*- mode: yaml; -*-

############## Sending traffic to various Prometheus-style endpoints
#
# This is a so-called “dynamic” configuration, i.e. if we change it,
# Træfik will notice the change and immediately re-read it.

http:
  routers:
    prometheus-in-gitlabprod:
      rule: "Host(`gitlab.epfl.ch`) && PathPrefix(`/federate`)"
      entrypoints:
        - websecure
      tls:
        certresolver: letsencrypt
      service: prometheus
      middlewares:
        - prometheus-basic-auth
    metrics-of-traefik:
      rule: "PathPrefix(`/metrics`)"
      entrypoints:
        - traefik
      service: prometheus@internal

  services:
    prometheus:
      loadBalancer:
        servers:
          - url: "http://prometheus:9090/"

  middlewares:
    prometheus-basic-auth:
      basicAuth:
        users:
          - '{{ traefik_isas_fsd_noc_htpasswd_line }}'
